
p1{
 color: tomato;
 font-size: x-large;
}
h1{
    color:blanchedalmond;
    margin-left: 20px;
}

h2, h3{
color: red;
}
#myId {
    color: orange;
}
.myClass {
    color: green;
}
th 
{
color: brown;
}
td 
{
color: brown;
}