body {
  
    background-image: url(https://assets.editorial.aetnd.com/uploads/2010/06/gettyimages-587492330.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    .container {
      margin: 64px;
      color: #1c1c1c;
      background: #ecf4ff;
      box-shadow: 6px 6px 6px #0e1d2f;
      border-radius: 20px;
      padding: 64px;
      position: relative;
      }